namespace AoC2024.Solutions;

public class {{CLASSNAME}} : ISolution
{
    private readonly string[] _input;

    public {{CLASSNAME}}() {
        _input = File.ReadAllLines("Solutions/{{CLASSNAME}}Input.txt");
    }

    public string PartOne()
    {
        return "Not implemented";
    }

    public string PartTwo()
    {
        return "Not implemented";
    }
}
