namespace AoC2024.Solutions;

public class {{CLASSNAME}} : ISolution
{
    private readonly string[] _input;

    public {{CLASSNAME}}() {
        _input = input = File.ReadAllLines("Solutions/{{CLASSNAME}}Input.txt");
    }

    public string Part_One()
    {
        return "Not implemented";
    }

    public string Part_Two()
    {
        return "Not implemented";
    }
}
